/*
=============== 
Fonts
=============$
*/

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&family=Nunito+Sans:wght@600&family=Old+Standard+TT:wght@700&family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&family=Nunito+Sans:wght@600&family=Old+Standard+TT:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&family=Mulish:wght@700&family=Nunito+Sans:wght@600&family=Old+Standard+TT:wght@700&family=Poppins:wght@600&display=swap');

/*
=============== 
Variables
===============
*/
/* primary/main color */
$clr-primary-5: hsl(205, 78%, 60%);
/* lighter shades of primary color */
$clr-primary-7: hsl(205, 90%, 76%);
$clr-primary-8: hsl(205, 86%, 81%);

/* darkest grey - used for headings */
$clr-grey-1: hsl(209, 61%, 16%);

/* grey used for paragraphs */
$clr-grey-5: hsl(210, 22%, 49%);
$clr-grey-6: hsl(209, 23%, 60%);
$clr-grey-7: hsl(211, 27%, 70%);
$clr-grey-8: hsl(210, 31%, 80%);
$clr-grey-9: hsl(212, 33%, 89%);
$clr-grey-10: hsl(210, 36%, 96%);
$clr-white: #fff;
$clr-main-red: #c31815;
$clr-black: #2a2a2a;
$ff-primary: 'IBM Plex Sans', sans-serif;
$ff-secondary: 'Poppins', sans-serif;
$transition: all 0.3s linear;
$spacing: 0.1rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $ff-secondary;
  background: $clr-grey-10;
  color: $clr-grey-1;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4 {
  letter-spacing: $spacing;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: $ff-primary;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: $clr-black;
  font-family: 'poppins';
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/* 
========
MODULES
========
*/
@import './navbar';
@import './trending';
@import './breaking';
@import './footer';
